#### Python Inbuilt Functions
1) Lambda<br>
2) map<br>
3) reduce<br>
4) filter<br>
5) enumerate<br>
6) zip<br>
7) sorted

#### 1) lambda 
1) It is used to create anonymous function( a function with no name)<br>
Syntax:<br>
<b>lambda parameters : expressions</b><br>
2) We create lambda functions to write one-liner function

In [2]:
r = lambda x,y : x+y
print(r(3,4)) # x=3,y=4
print(r(6,7)) # x=6,y=7

7
13

In [4]:
t = lambda a,b,c : (a+b)**c
print(t(3,4,2))
print(t(5,6,3))

49
1331

In [7]:
r = lambda x,y : x+y
print(r(3,4))       # 7
print(type(r(3,4))) # int
print(r(3.5,4.2))   # 7.7      
print(type(r(3.5,4.2))) # float
print(r('Hello',' World'))  # Hello World
print(type(r('Hello',' World'))) # str
print(type(r))
print(r)

7
<class 'int'>
7.7
<class 'float'>
Hello World
<class 'str'>
<class 'function'>
<function <lambda> at 0x0000025DEEF58AF0>

In [13]:
#### Find initials of the name
w = lambda fn,ln : fn[0].upper()+"."+ln[0].upper()
print(w('elon','musk'))
print(w(['Elon'],['Musk']))

E.M
ELON.MUSK

#### Using if-else in lambda

In [15]:
mod = lambda x : x-2 if(x >= 0) else x+2
print(mod(4))
print(mod(-3))

2
-1

In [16]:
r = lambda x : x**2 if(x>5) else x+3
print(r(7))
print(r(4))

49
7

In [ ]:
### If-elif-else

In [20]:
r = lambda x : x+3 if x>0 and x<=5 else (x+5 if x>5 and x<10 else x+10)
print(r(3))  # 3+3
print(r(9))  # 9+5
print(r(-4)) # -4+10
print(r(12)) # 12+10

# 1) x>0 and x<=5  => x+3
# 2) x>5 and x<10 => x+5
# 3) else x+10

6
14
6
22

#### Syntax of Map,Filter and Reduce
map(function,iterable)  -> <br>
filter(function,iterable) -><br>
reduce(function,iterable) -> <r>

#### 2) map()
1) map() calls the specified function for each item of an iterable(list,string,tuple,dict etc) and returns a sequence of results.<br>
2) This sequence needs to be converted to preferably either list or tuple<br>
3) lambda can be used inside map

Syntax : map(function,iterable)

In [24]:
def square(x):
    return x*x

w = [1,2,3,4,7]
d = tuple(map(square,w))
print(d)

(1, 4, 9, 16, 49)

In [26]:
r = [10,12,14,16,18]
d1 = list(map(lambda x : x+5,r))
print(d1)

[15, 17, 19, 21, 23]

In [29]:
r = [10,12,14,16,18]
d1 = map(lambda x : x+5,r)
print(d1)
# x = 5

<map object at 0x0000025DEEF89280>

In [28]:
for i in d1:
    print(i)

15
17
19
21
23

In [ ]:
r = [10,12,14,16,18]
d1 = list(map(lambda x : x+5,r))
print(d1)
# x=12,14,16,18

In [ ]:
# int, str, float, bool,complex
# list, tuple

In [31]:
r = input('Enter list elements')
print(r)
print(type(r))

Enter list elements12 13 14
12 13 14
<class 'str'>

#### Q) Accpet a list of integers from the user using map function

In [34]:
d1 = list(map(int,input()))
print(d1)

123
[1, 2, 3]

In [35]:
d1 = list(map(int,input()))
print(d1)

1 2 3 4

ValueError: invalid literal for int() with base 10: ' '

In [36]:
d2 = list(map(int,input().split()))
print(d2)

5 4 12 34 23
[5, 4, 12, 34, 23]

In [37]:
d2 = list(map(float,input().split()))
print(d2)

12.34 45.56 34.78
[12.34, 45.56, 34.78]

In [4]:
d2 = tuple(map(int,input().split()))
print(d2)

12 23 45 56 67 78
(12, 23, 45, 56, 67, 78)

In [39]:
d2 = list(map(str,input().split()))
print(d2)

hello python
['hello', 'python']

#### 3) filter()
Returns an iterator yielding those items from the iterable for which the function is True

Syntax : filter(function,iterable)

In [47]:
g = [12,13,14,15,16,17,18,19,20]
s1 = list(filter(lambda x : x%2!=0,g))
print(s1)

[13, 15, 17, 19]

In [46]:
g = [12,13,14,15,16,17,18,19,20]
s2 = list(filter(lambda x : x>17,g))
print(s2)

[18, 19, 20]

#### 4) reduce()
Reduce function reuduces the iterable to a single value using the function passed.<br>
The function passed has to contain 2 parameters<br>

syntax : reduce(function,iterator)

In [55]:
# functools is the library, reduce is the function or method 
from functools import reduce

In [53]:
b = [1,2,3,4,5]
t = reduce(lambda x,y : x+y,b)
print(t)

# S1 -> x=1,y=2 => x+y=3
# S2 -> x=3,y=3 => x+y=6
# S3 -> x=6,y=4 => x+y=10
# S4 -> x=10,y=5 => x+y=15

15

In [54]:
t1 = reduce(lambda p,q: p*q,b)
print(t1)

120

#### 5) enumerate()
1) It adds an extra counter to the iterables<br>
2) Counter added to the list and tuple can be used as their index provided start = 0<br>
3) Counter added to set should not be considered as index

In [70]:
d = [10,20,30,40,50]
for i in d:   # element wise iteration
    print(i)

10
20
30
40
50

In [71]:
d = [10,20,30,40,50]
for i in range(len(d)):   # index wise iteration
    print(d[i])

10
20
30
40
50

In [74]:
# i is the extra counter generated, j is the list elements
d = [10,20,30,40,50]
for i,j in enumerate(d): 
    print(i,j,d[i])

0 10 10
1 20 20
2 30 30
3 40 40
4 50 50

In [69]:
d = [10,20,30,40,50]
for i,j in enumerate(d,start=3): 
    print(i,j)
    
# i=3, j=10, d[3]=40
# i=4, j=20, d[4]=50
# i=5, j=30, d[5]=???

3 10
4 20
5 30
6 40
7 50

In [75]:
d = (11,12,13,14,15)
for x,y in enumerate(d): # x is the extra counter generated, y is the tuple elements
    print(x,y,d[x])

0 11 11
1 12 12
2 13 13
3 14 14
4 15 15

In [79]:
d = {'a1':10,'a2':20,'a3':30}
for count, keys in enumerate(d):
    print(count,keys,d[keys])
    
# count = counter element generated
# keys = keys of the dict
# d[keys] = values

0 a1 10
1 a2 20
2 a3 30

In [81]:
d = {'a1':10,'a2':20,'a3':30}
for i, j in enumerate(d.keys()):
    print(i,j,d[j],d.get(j))

0 a1 10 10
1 a2 20 20
2 a3 30 30

In [83]:
d = {'a1':10,'a2':20,'a3':30}
for i, j in enumerate(d.values()):
    print(i,j)

0 10
1 20
2 30

In [84]:
d = {'a1':10,'a2':20,'a3':30}
for i, j in enumerate(d.items()):
    print(i,j)

0 ('a1', 10)
1 ('a2', 20)
2 ('a3', 30)

#### 6) zip()
1) It aggregates (two or more) elements into tuple pairs (except dict)

In [1]:
d1 = ['a','b','c','d','e']
d2 = [3,4,5,6,7]

r1 = list(zip(d1,d2))  # list of tuple
r2 = tuple(zip(d1,d2)) # tuple of tuple
r3 = dict(zip(d1,d2))  # pairs are aggregated as key-value
print(r1)
print(r2)
print(r3)

[('a', 3), ('b', 4), ('c', 5), ('d', 6), ('e', 7)]
(('a', 3), ('b', 4), ('c', 5), ('d', 6), ('e', 7))
{'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7}

In [3]:
d1 = ['a','b','c','d','e']  # len(d1) = 5
d2 = [3,4,5]                # len(d2) = 3

r1 = list(zip(d1,d2))
r2 = tuple(zip(d1,d2))
r3 = dict(zip(d1,d2))  # pairs are aggregated as key-value
print(r1)
print(r2)
print(r3)

r4 = list(zip(d2,d1))
print(r4)

[('a', 3), ('b', 4), ('c', 5)]
(('a', 3), ('b', 4), ('c', 5))
{'a': 3, 'b': 4, 'c': 5}
[(3, 'a'), (4, 'b'), (5, 'c')]

In [11]:
d1 = ['a','b','c','d','e']  # len(d1) = 5
d2 = [3,4,5,6]             # len(d2) = 4

for i,j in zip(d1,d2): # ('a',3),('b',4),('c',5),('d',6)
    print(i,j)

a 3
b 4
c 5
d 6

In [5]:
w1 = [10,20,30,40]
w2 = ['A','B','C','D','E','F','G']
w3 = ('Python','Java','Ruby','AWS','Azure')

t1 = list(zip(w1,w2,w3))
t2 = tuple(zip(w2,w1,w3))
print(t1)
print(t2)

[(10, 'A', 'Python'), (20, 'B', 'Java'), (30, 'C', 'Ruby'), (40, 'D', 'AWS')]
(('A', 10, 'Python'), ('B', 20, 'Java'), ('C', 30, 'Ruby'), ('D', 40, 'AWS'))

In [9]:
t3 = dict(zip(w2,w1))
print(t3)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [12]:
q1 = [10,20,30,40,50]
q2 = [5,4,6,3,7]
res = [i-j for i, j in zip(q1,q2)]
print(res)

[5, 16, 24, 37, 43]

#### 7) sorted()
Sort the elements passed as agrument<br>
1) The return type of sorted is list, if the input is list,tuple,dict.

In [16]:
w = (12,14,10,9,15,13)
r1 = sorted(w)               # ascedning order
r2 =  sorted(w,reverse=True)  # descending order
print(r1)
print(type(r1))
print(r2)

(9, 10, 12, 13, 14, 15)
<class 'tuple'>
[15, 14, 13, 12, 10, 9]

In [20]:
d = {'a1':10,'a3':8,'a4':15,'a2':25}
d1 = sorted(d.keys())               # ascending order
d2 = sorted(d.keys(),reverse=True)  # descending order
d3 = sorted(d.values())             # ascending order
d4 = sorted(d.values(),reverse=True) # descending order
print(d1)
print(d2)
print(d3)
print(d4)

['a1', 'a2', 'a3', 'a4']
['a4', 'a3', 'a2', 'a1']
[8, 10, 15, 25]
[25, 15, 10, 8]

In [23]:
d = {'a1':10,'a3':8,'a4':15,'a2':25}
r1 = sorted(d)
print(r1)
r2 = sorted(d.items())                # ascending order based on keys
r3 = sorted(d.items(),reverse = True) # descending order based on keys
print(r2)
print(r3)

['a1', 'a2', 'a3', 'a4']
[('a1', 10), ('a2', 25), ('a3', 8), ('a4', 15)]
[('a4', 15), ('a3', 8), ('a2', 25), ('a1', 10)]

#### Sort a dict by value

In [27]:
x = ('key','value')
print(x[0])
print(x[1])

key
value

#### How to sort a dict based on its values in ascending/descending order?

In [28]:
d = {'a1':10,'a3':8,'a4':15,'a2':25}
r1 = sorted(d.items(), key=lambda x: x[1])  # ('a1',10),('a3',8),('a4',15),('a2',25)
# sorted in increasing order of values
print(r1)
r2 = sorted(d.items(), key=lambda x: x[1], reverse=True) 
# sorted in increasing order of values
print(r2)
r3 = dict(sorted(d.items(), key=lambda x: x[1]))
# sorted in increasing order of values
print(r3)

[('a3', 8), ('a1', 10), ('a4', 15), ('a2', 25)]
[('a2', 25), ('a4', 15), ('a1', 10), ('a3', 8)]
{'a3': 8, 'a1': 10, 'a4': 15, 'a2': 25}

In [29]:
r4 = dict(sorted(d.items(),key=lambda p : p[0])) 
# sorted in ascedning order based on keys
print(r4)

{'a1': 10, 'a2': 25, 'a3': 8, 'a4': 15}

In [30]:
print(d.items())

dict_items([('a1', 10), ('a3', 8), ('a4', 15), ('a2', 25)])

In [31]:
r1 = dict(sorted(d.items(), key=lambda x: x[0]))
print(r1)

{'a1': 10, 'a2': 25, 'a3': 8, 'a4': 15}

#### Accept a dict as user input

In [39]:
d = dict(input().split('-') for x in range(3))
print(d)

3-4
5-6
7-8
{'3': '4', '5': '6', '7': '8'}

In [41]:
# Used to accpet a list of list from user
d1 = [input().split('-') for x in range(3)]  
print(d1)

2-3
4-5
6-7
[['2', '3'], ['4', '5'], ['6', '7']]

In [42]:
d2 = list(input().split('-') for x in range(3))
print(d2)

12-13
14-15
16-17
[['12', '13'], ['14', '15'], ['16', '17']]

#### Q) 
Write a function to accept a list of integers as user input and an argument k (integer).
Rotate the list. Note k<len(list) accepted by the user<br> 
a) right side by k elements.<br>
b) left side by k elements<br>
Example<br>
right_rotate(k=2)<br>
Sample Input<br>
[12 13 45 34 78 10 15 18]<br>
Sample Output<br>
Right Rotate -> [15 18 12 13 45 34 78 10]<br>
Left Rotate -> [45 34 78 10 15 18 12 13]

In [52]:
def rotate_right(k):
    n = list(map(int,input().split()))
    print(n)
    res = []
    res.extend(n[-k:])
#     res.extend(n[0:len(n)-k])
    res.extend(n[0:-k])  # 0,1,2,3,4
    print(res)
    
    
rotate_right(k=4)
# 12 14 45 34 28 60 93 81

12 14 45 34 28 60 93 81
[12, 14, 45, 34, 28, 60, 93, 81]
[28, 60, 93, 81, 12, 14, 45, 34]

In [ ]:
r1 = [1,2,3,4,5]         # 1D list
r2 = [[1,2,3],[4,5,6]]  # 2D List
r3 = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]  # 3D list