<b>Topics</b>
<ul>
<li>Strings</li>
<li>String Functions</li>
</ul>

In [2]:
s1 = 'Hello'
s2 = "World"
s3 = """Python"""
s4 = '''Django'''
print(s1)
print(s2)
print(s3)
print(s4)
type(s4)

Hello
World
Python
Django

str

In [7]:
name = "Welcome to Python"
print(name)
print(len(name))

Welcome to Python
17

### Note
1) Indexes start from 0 towards positive from left to right<br>
2) Indexes range from 0 to len(str)-1 from left to right<br>
3) Indexes start from -1 towards negative from right to left.<br>
4) Indexes range from -1 to -len(str) from right to left.

## Indexing
Indexing returns the character present at a particular index

In [10]:
print(name)
print(name[0])
print(name[2])
print(name[7])
print(name[3])
print(name[19])

Welcome to Python
W
l

c

IndexError: string index out of range

In [13]:
print(name)
print(name[-1])
print(name[-5])
print(name[-14])

Welcome to Python
n
y
c

In [14]:
a = "Game"
print(len(a))
# positive indexes range from 0 to len(a)-1 => 0 to 3
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print('------')
# positive indexes srange from -1 to -len(a)=> -1 to -4
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

4
G
a
m
e
------
e
m
a
G

### Slicing
a= "string"<br>
syntax = <b>a[start : end : step]</b><br>
1) <b>start</b> - Index from where slicing starts. If absent deafult value is 0, if slicing is done from left to right<br>
2) <b>end</b> - index upto which string will be sliced.<br>
3) <b>step</b> - no of characters to skip or jump while slicing. if absent default step size is +1<br>
All paramaters are optional

### Left to Right Slicing
1) String is sliced till index end-1 if end is present, otherwise till end of the string<br>
2) Step has to be a positive number<br>
3) If start is absent, its default value is 0.

In [17]:
name = "Welcome to Python"
print(name)
print(len(name))
print(name[2:9])  # start=2,end=9,default step is +1
print(name[2:9:1])

Welcome to Python
17
lcome t
lcome t

<img src="string_slicing.png">

In [19]:
print(name)
print(name[3:8]) # from index 3 till 7
print(name[2:14]) # from index 2 till 13
print(name[10:]) # from index 10 till end
print(name[:7])  # from index 0 till 6
print(name[:])
print(name[::])
# print(name[start : end : step])

Welcome to Python
come
lcome to Pyt
 Python
Welcome
Welcome to Python
Welcome to Python

<img src="string_slicing.png">

In [22]:
print(name)
print(name[:-3]) # from 0 to till index -4
print(name[-5:]) # from -5 till end
print(name[4:-5]) # from index 4 till -6
print(name[-17:1])

Welcome to Python
Welcome to Pyt
ython
ome to P
W

In [24]:
print(name[2:12:2])
print(name[3:11:3])

loet
ceo

<img src="string_slicing.png">

In [25]:
print(name[3:-2])
print(name[4:-3])
print(name[-11:12])
print(name[-11:-4])
print(name[5:10])

come to Pyth
ome to Pyt
e to P
e to Py
me to

<img src="string_slicing.png">

In [28]:
print(name[3:-2])
print(name[3:-2:2])
print(name[4:-3:3])
print(name[-11:12:3])
print(name[-9:-4:2])
print(name[2:-5:3])
print(name[-15:14:2])

come to Pyth
cm oPt
o  t
eo
t y
lmtP
loet y

In [30]:
print(name[4:9])
print(name[4:9:1])

ome t
ome t

<img src="string_slicing.png">

### Right to Left Slicing
1) String is sliced till index end+1<br>
2) Step has to be a negative number

<img src="string_slicing.png">

In [32]:
print(name[-3:4])  # assumed output - htyP ot em
print(name[-3:4:1])

In [34]:
print(name)
print(name[-3:4:-1])
print(name[3:15:-1])

Welcome to Python
htyP ot em

<img src="string_slicing.png">

In [32]:
print(name[3:8:-1])    # no output
print(name[-2:-12:-2])
print(name[-3:4:2])    # no output
print(name[5:-2:3])
print(name[3:-11:-2])  # no output
print(name[15:-11:-2]) # otPo 
print(name[-3:5:-2])
print(name[8:-14:-2])

otPo

mtPh

otPo
hy te
teo

### Rule
If all 3(start,end,step) are present, direction is governed by the combination of start:end and step size combined. String will be sliced when both the directions are same.

### Note

1) If start and/or end are absent and step is present, slicing direction is governed by step size.<br>

2) When start is absent and step size is negative, string will be sliced from the right end towards the left<br>
3) Positive direction is left to right(step size is positive) and negative direction is from right to left(step size is negative)

<img src="string_slicing.png">

In [35]:
# When end is absent, start and step are given
print(name)
print(name[3::-2])
print(name[5::2])
print(name[-2::-2])
print(name[-5::3])

Welcome to Python
ce
m oPto
otPo mce
yo

<img src="string_slicing.png">

In [36]:
# When start is absent, end and step are given
print(name[:8:2])
print(name[:-12:-1])
print(name[:-7:3])
print(name[:3:-2])

Wloe
nohtyP ot e
Wceo
nhy teo

<img src="string_slicing.png">

In [40]:
# When start and end both are absent, step is given
print(name)
print(name[::3])
print(name[::2])
print(name[::-1])  # Reverse a string
print(name[::-3])

Welcome to Python
Wceoyo
Wloet yhn
nohtyP ot emocleW
nt  oe

In [43]:
# Reverse a string
print(name[::-1])

nohtyP ot emocleW

### String Functions

#### String Formatting

In [44]:
name = "Ankit"
city = "Noida"
role = "Data Analyst"
print('{} {} lives in {}'.format(name,name,city))
print("{} works as a {}".format(name,role))
print(f'{name} lives in {city}')
print(f"{name} works as a {role} and lives in {city}")
print(name,'lives in',city,'and works as a',role)

Ankit Ankit lives in Noida
Ankit works as a Data Analyst
Ankit lives in Noida
Ankit works as a Data Analyst and lives in Noida
Ankit lives in Noida and works as a Data Analyst

In [49]:
s1 = "working on python"     
print(s1.upper())      # WORKING ON PYTHON
print(s1.capitalize()) # Working on python
print(s1.title())      # Working On Python
w = "PythoN CodinG"
print(w.lower()) 
print(w.swapcase())

WORKING ON PYTHON
Working on python
Working On Python
python coding
pYTHOn cODINg

In [50]:
n = input('Enter your name: ').upper()
print(n)

Enter your name: Hitesh
HITESH

In [51]:
n = input('Enter your name: ')
print(n.upper())
print(n.capitalize())
print(n.title())

Enter your name: shrijita gupta
SHRIJITA GUPTA
Shrijita gupta
Shrijita Gupta

#### isupper() 
It retunrs True if the string contains atleast 1 uppercase character and no lowercase character , otherwise False

In [54]:
d = "hello world"
d1 = "HELLO 67WORL.D$%"
d2 = "Hello World"
d3,d4 = "21314F","%&^32432fhdgN"
d5 = "435345634"
print(d.isupper())
print(d1.isupper())
print(d2.isupper())
print(d3.isupper())
print(d4.isupper())
print(d5.isupper())

False
True
False
True
False
False

#### islower() 
It returns True if the string contains atleast 1 lowercase character and no uppercase character , otherwise False

In [57]:
d = "hello world"
d1 = "HELLO 67WORL.D$%"
d2 = "Hello World"
d3,d4 = "21314F","%&^32432fhdg"
d5 = "435345634"
print(d.islower())
print(d1.islower())
print(d2.islower())
print(d3.islower())
print(d4.islower())
print(d5.islower())

True
False
False
False
True
False

#### isalpha() - isalphabet
Will return True if the string contains atleast 1 alphabet(upper or lower case) only, otherwise False

In [59]:
s1 = "Banking67"
s2 = "SBI Bank"
s3 = "2344"
s4 = "abc123@gmail.com"
s5 = "Laptop"
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())
print(s4.isalpha())
print(s5.isalpha())

False
False
False
False
True

#### isalnum() - isalphanumeric
Will return True if the string contains atleast 1 alphabet(upper or lower case) or atleast 1 number only, otherwise False

In [62]:
s1 = "Banking67"
s2 = "SBI Bank"
s3 = "2344"
s4 = "abc123@gmail.com"
s5 = "laptop"
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())
print(s4.isalnum())
print(s5.isalnum())

True
False
True
False
True

In [65]:
s1 = "Banking67"
s2 = "SBI Bank"
s3 = "2344"
s4 = "25676$%&"
print(s1.isdigit())
print(s2.isdigit())
print(s3.isdigit())
print(s4.isdigit())

False
False
True
False

In [68]:
d = ""
print(d)
print(len(d))

0

In [69]:
s1 = "                             "
s2 = "    j   "
s3 = ""
print(s1.isspace())
print(s2.isspace())
print(s3.isspace())

True
False
False

In [77]:
s1 = "Working on Python"
print(s1.startswith('Wor'))
print(s1.startswith('Won'))
print(s1.startswith('Work'))
print(s1.endswith('ython'))
print(s1.endswith('n'))

True
False
True
True
True

In [85]:
s7 = "     this is    python         "
print(s7.lstrip()) # removes extra space from left
print(s7.rstrip()) # removes extra space from right
print(s7.strip())  # removes extra space from left and right
# strip function won't remove extra space from anywhere within of the string
print(s7)

this is    python
     this is    python
this is    python
     this is    python

In [90]:
n1 = 5
print(n1*4)

d1 = "Hello "
d2 = d1*n1
print(d2)

20
Hello Hello Hello Hello Hello

In [102]:
# String concatenation - adding string
a = "Pollution level"
b = "hits all time high"
c = "in Delhi, post Diwali."
d =  a+b+c
print(d)
print(a,b,c)
print(a+" "+b+" "+c)  # string concatenation
print(f"{a} {b} {c}")
print("{} {} {}".format(a,b,c))

Pollution levelhits all time highin Delhi, post Diwali.
Pollution level hits all time high in Delhi, post Diwali.
Pollution level hits all time high in Delhi, post Diwali.
Pollution level hits all time high in Delhi, post Diwali.
Pollution level hits all time high in Delhi, post Diwali.

In [105]:
# ord() gives ASCII value of an any character/spcl character/
# ASCII - American Standard code for Information Interchange
# A-Z = 65 - 90
# a-z = 97 - 122
# ord - ordinal
# chr - character

print(ord('c'))
print(ord('B'))
print(chr(65))
print(chr(90))
print(chr(97))
print(chr(122))
print(chr(85))
print(chr(45))
print(chr(47))
print(chr(234))

99
66
A
Z
a
z
U
-
/
ê

In [107]:
text = "Elon plans to colonize Mars by 2024"
print(text)
print(text[8])

Elon plans to colonize Mars by 2024
n

In [110]:
## Updating a string - throws an error .
# Conclusion :- Strings are immutatble(ie. can't be changed)
text[8] = 't'
print(text)

TypeError: 'str' object does not support item assignment

In [42]:
print(text)

Elon plans to colonize Mars by 2024

In [43]:
# del keyword is used to perform delete operation
print(text)
del text

Elon plans to colonize Mars by 2024

In [44]:
# Deleting a string/variable
print(text)

NameError: name 'text' is not defined

In [48]:
# String replace
t1 = "Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory"
print(t1)

Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory

In [53]:
t2 = t1.replace('won the','lost')
print(t2)

Sheldon Cooper lost nobel prize in the last Season of the Big Bang Theory

In [54]:
print(t1.replace('won the','lost'))
print(t1.replace('nobel',"nobel peace"))
print(t1.replace('Theory',"Theory web series"))

Sheldon Cooper lost nobel prize in the last Season of the Big Bang Theory
Sheldon Cooper won the nobel peace prize in the last Season of the Big Bang Theory
Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory web series

In [56]:
print(t1)

Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory

In [58]:
# String split - It returns a list
t2 = "Messi is light years ahead of Ronaldo."
print(t2)

Messi is light years ahead of Ronaldo.

In [60]:
print(t2[0])

M

#### split()

1) split function returns list as its output<br>
2) Removes the entity based on which the split function has been applied

In [65]:
a = [11,12,13,41,'Hi',True,"Aniket",67.90,None]
print(a)
print(len(a))
type(a)

[11, 12, 13, 41, 'Hi', True, 'Aniket', 67.9, None]
9

list

In [68]:
t2 = 'Messi is light years ahead of Ronaldo.'
print(len(t2))
t3 = t2.split()  # splits wrt space by default
t4 = t2.split(' ')
print(t3)
print(t4)
type(t3)

38
['Messi', 'is', 'light', 'years', 'ahead', 'of', 'Ronaldo.']
['Messi', 'is', 'light', 'years', 'ahead', 'of', 'Ronaldo.']

list

In [71]:
print(t2)
t5 = t2.split('i')
t6 = t2.split('s')
print(t5)
print(t6)

Messi is light years ahead of Ronaldo.
['Mess', ' ', 's l', 'ght years ahead of Ronaldo.']
['Me', '', 'i i', ' light year', ' ahead of Ronaldo.']

In [74]:
d = "welcome to Python season 2. Python is leading programming language in the IT industries"
d1 = d.split('Python')
print(d1)

['welcome to ', ' season 2. ', ' is leading programming language in the IT industries']

In [75]:
print(t3)

['Messi', 'is', 'light', 'years', 'ahead', 'of', 'Ronaldo.']

In [78]:
print(t3)
print(t3[0])
print(t3[2])
print(t3[-1])
print(t3[2:])

['Messi', 'is', 'light', 'years', 'ahead', 'of', 'Ronaldo.']
Messi
light
Ronaldo.
['light', 'years', 'ahead', 'of', 'Ronaldo.']

###  Nested Indexing and Slicing

In [84]:
print(t3[0])
print(t3[0][1::3])
print(t3[-1][1:6:2])
print(t3[6][1:6:2])
print(t3[-1][-3::-2])
print(t3[6][-3::-2])

Messi
ei
oad
oad
dao
dao

In [87]:
print(t3[6][-3:6:-2])

In [88]:
print(t3)

['Messi', 'is', 'light', 'years', 'ahead', 'of', 'Ronaldo.']

In [62]:
print(t1)

Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory

#### count()
Counts the occurence of a given <b>character</b> or a <b>substring</b> in a string

In [97]:
t1='Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.'
print(t1)
print(t1.count('on'))
print(t1.count('n th'))
print(t1.count('hello'))
print(t1.count('nobel'))
print(t1.replace('nobel','Dragon'))

Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.
3
2
0
1
Sheldon Cooper won the Dragon prize in the last Season of the Big Bang Theory.

#### index()
Returns the index of substring at its first occurence, if substring is not found, it returns an error

In [102]:
# Index - returns index starting from 0
t1= 'Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.'
print(t1)
print(t1.index('o'))
print(t1.index('ooper'))
print(t1.index('the'))
print(t1.index('ize in the'))
print(t1[29:41])
print(t1.index('z',29,41))
print(t1.index('s',29,41))

Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.
5
9
19
31
prize in the
32

ValueError: substring not found

#### find() 
Returns the index of substring at its first occurence, if substring is not found, it returns an error. Will return -1 is substring is absent/not found

In [105]:
print(t1)
print(t1.find('p'))
print(t1.find('Theory'))
print(t1.find('nobel'))
print(t1[40:51])
print(t1.find('the',40,51))
print(t1.find('last',40,51)) # 42
print(t1.find('s',40,51))    # 44
print(t1.find('s',45,51))    # 
print(t1.find('hello'))
print(t1[29:41])
print(t1.find('s',29,41))

Sheldon Cooper won the nobel prize in the last Season of the Big Bang Theory.
11
70
23
e last Seas
-1
42
44
50
-1
prize in the
-1